---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import H1 from "../components/H1.astro"
import { getCollection } from "astro:content"

const posts = await getCollection("posts")
---

<Layout title="Blarg page">
    <Main>

        <H1 text="Blarg page, using H1 component"></H1>
    

    </Main>
</Layout>